@font-face {font-family: Dwarf; src: url('dwarf.ttf');}

*{
  margin: 0;
  padding: 0;
}

body{
    background-color:#2F5434;
    text-align: center;
    font-family: 'Dwarf';
    color: #ffffff;
    line-height: 2;
}
/* crispy pixel rendering */
canvas{
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#game{
    /*
    width:68%;
    height:100%;
    */
    width:640px;
    height:640px;
    border:2px solid #000000;
}

#container{
    width:980px;
    height:756px;
    margin-left: auto;
    margin-right:auto;

}
#gameArea{
    display: flex;
    width:980px;
    height:640px;
    border: 2px solid black
}

/* side bar */

.sidebar{
    /*
    width:15%;
    height:100%;
    */
    width:332px;
    height:318px;
    border:2px solid #000;
    background-color: #000000; /*#dedede;*/
    display: block;
}

/* CHARACTER CAMERA FOCUS SELECTION */


/*swap iframe stuff*/
.gameWrapper {
    position: relative;
    /*width: 640px;
    height: 640px;*/
}
.gameWrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
}

.sideWrapper {
    position: relative;
    /*width: 640px;
    height: 640px;*/
}
.sideWrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
}

/*Buttons*/
.gameStartBtns{
    width:100px;
    height:50px;
    font-size:20px;
    font-family:'Dwarf';
    background-color:green;
    color:white;
    margin-top: 50px
}
